*{
    margin: 0;
    padding: 0;
}

body{
    font-family:'Courier New', Courier, monospace;
}


header{
    padding: 50px 100px;
    height: 630px;
    position: relative;
    text-align: center;
}

h1, h2{
    font-weight: normal;
}

hr{
    position: relative;
    top: 13%;
}

#me{
    width: 400px;
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
}

h2{
    font-weight: bold;
}

#about-me{
    text-align: center;
    max-width: 450px;
    position: absolute;
    top: 23%;
}

.margin-top{
    margin-top: 10px;
}

.justify{
    text-align: justify;
}

#social-media{
    text-align: center;
    width: 450px;
    position: absolute;
    right: 100px;
    top: 23%;
}

#social-media a{
    text-decoration: none;
    color: black;
    padding: 20px;
    display: block;
    border: 1px solid black; 
    border-radius: 10px;
    width: 50%;
    margin: 10px auto;
    position: relative;
}

#social-media a:hover{
    color: white;
    background-color: black;
}

#projects{
    height: 630px;
    background-color: #334249;
}





