*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap');

@font-face {
    font-family: 'FiraCode';
    src: url('./fonts/FiraCode-Regular.ttf');
}

body{
    font-family: 'FiraCode', monospace;
    background-color: #3a3a3a0a;
    color: #3a3a3a;
}


#container{
    background: rgb(255,255,255);
}

/* --------------------------------------------HEADER-------------------------------------------- */

header{
    padding: 50px;
    /* height: 600px; */
}

.content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 0px;
}

header h1{
    font-weight: normal;
    text-align: center;
}

h1{
    font-size: 2em;
}


h2{
    font-weight: bold;
    font-size: 1.5em;
}

h1 strong{
    font-size: 1.3em;
    text-shadow: 1px 1px 2px #3a3a3a;
}

#me{
    width: 400px;
}

#description{
    text-align: left;
    width: 420px;
}


#cv-link{
    margin-top: 20px;
    display: flex;
    justify-content: start;
}

#cv-link a{
    text-decoration: none;
    color: black;
    padding: 13px;
    border-radius: 10px;
    margin-right: 10px;
    background-color: black;
    color: white;
    display: flex;
    width: 130px;
    justify-content: space-around;
    align-items: center;
}

#cv-link a:hover{
    background-color: #fb8c24;
    color: white;
}

#cv-link img{
    width: 30px;
}

.habilidades{
    margin-top: 20px;
}

#social-media{
    width: 420px;
    height: 322px;
    text-align: center;
}

#social-media h2{
    margin-bottom: 20px;
}

nav{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;

}

nav a{
    text-decoration: none;
    width: min-content;
    margin-bottom: 20px;
}

nav img{
    width: 50px;
}


/* --------------------------------------------PROJECTS-------------------------------------------- */



.projects{
    height: 630px;
    background-color: #3a3a3a;
    text-align: center;
    color: white;
    box-shadow: 0px -2px 5px 3px #3a3a3a;
    padding: 20px
}

.projects h1{
    
}

/* --------------------------------------------ABOUT ME-------------------------------------------- */

article{
    padding: 20px;
    text-align: center;
}

.content-about{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 4em 0px;
}

.content-about p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    max-width: 600px;
    text-align: left;
}

.content-about img{
    width: 18em;
    border-radius: 50%;
}





