*{
    margin: 0;
    padding: 0;
}

body{
    font-family:'Courier New', Courier, monospace;
}

body

#container{
    background: rgb(255,255,255);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 40%, rgba(86,111,123,1) 90%, rgba(51,66,73,1) 99%);
}

header{
    padding: 50px 100px;
    height: 630px;
    position: relative;
    text-align: center;
    color: rgba(86,111,123,1);
}

h1, h2{
    font-weight: normal;
    color: rgba(51,66,73,1);
}

h1 strong{
    font-size: 1.3em;
}


hr{
    position: relative;
    top: 13%;
}

#me{
    width: 400px;
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
}

h2{
    font-weight: bold;
}

#about-me{
    text-align: center;
    max-width: 450px;
    position: absolute;
    top: 23%;
    font-size: 1.2em;
}


#about-me p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: light;
}

.margin-top{
    margin-top: 10px;
}

.justify{
    text-align: justify;
}

#social-media{
    text-align: center;
    width: 450px;
    position: absolute;
    right: 100px;
    top: 23%;
}

#social-media h2{
    font-size: 28px;
}

#social-media a{
    text-decoration: none;
    font-weight: bold;
    color: rgba(51,66,73,1);
    padding: 20px;
    display: block;
    border: 1px solid rgba(51,66,73,1); 
    border-radius: 10px;
    width: 50%;
    margin: 10px auto;
    position: relative;
}

#social-media a:hover{
    color: white;
    background-color: rgba(51,66,73,1);
    border: 1px solid rgba(86,111,123,1);
}

#projects{
    height: 630px;
    /* background-color: #566f7b; */
}





